<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Authorize Access</title>

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
      background: linear-gradient(135deg, #1f2937, #111827);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      background: #ffffff;
      color: #111827;
      padding: 30px;
      border-radius: 12px;
      width: 400px;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
      text-align: center;
    }

    .logo {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 10px;
    }

    .app-name {
      font-weight: bold;
      color: #4f46e5;
    }
    .client-name{
       font-weight: bold;
      color: #dd21ae
    }

    ul {
      text-align: left;
      margin: 20px 0;
      padding: 0;
      list-style: none;
    }

    li {
      background: #f3f4f6;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 6px;
      font-size: 14px;
    }

    .buttons {
      display: flex;
      gap: 10px;
      margin-top: 20px;
    }

    button {
      flex: 1;
      padding: 10px;
      border-radius: 6px;
      border: none;
      font-size: 14px;
      cursor: pointer;
      transition: 0.2s;
    }

    .allow {
      background: #4f46e5;
      color: white;
    }

    .allow:hover {
      background: #4338ca;
    }

    .deny {
      background: #e5e7eb;
      color: #111827;
    }

    .deny:hover {
      background: #d1d5db;
    }
  </style>
</head>

<body>
  <div class="card">
    <div class="logo">🔐 OPENID-MINI</div>

    <h2>Grant Access</h2>

    <p>
      <span class="client-name">Hi <%=userName %></span> 
      <span class="app-name"><%= clientName %></span> wants permission to:
    </p>

    <ul>
      <% scopes.forEach(scope => { %>
        <li>✔ <%= scope %></li>
      <% }) %>
    </ul>

    <form method="POST" action="/consent">
      <input type="hidden" name="client_id" value="<%= client_id %>" />
      <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>" />
      <input type="hidden" name="state" value="<%= state %>" />

      <div class="buttons">
        <button class="deny" name="decision" value="deny">Deny</button>
        <button class="allow" name="decision" value="allow">Allow</button>
      </div>
    </form>
  </div>
</body>
</html>